p{
    color: rgb(19, 126, 132);
    font-size: xx-large;
    font-style: italic;
}
#Home{
    background-color: black;
    background-image: none;
    background-image: url("Images/_\ \(5\).jpeg");}
#Deee{
    height:20%;
    width:20%;
}
#Portfolio{
    height:50%;
    width:40%;
}
#About{
    background-color: black;
    background-image: none;
    background-image: url("Images/_\ \(5\).jpeg");
}
#Skills{
    background-color: black;
    background-image: none;
    background-image: url("Images/_\ \(5\).jpeg");
}
#ol{
    font-size: xx-large;
    font-style: inherit;
    font-weight: 900;
}
#Contact{
    background-color: black;
    background-image: none;
    background-image: url("Images/_\ \(5\).jpeg");
}
#Projects{
    background-color: black;
    background-image: none;
    background-image: url("Images/_\ \(5\).jpeg");
}